<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AWC_CMS</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />


    <!-- Other CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom-alert.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="/" class="logo d-flex align-items-center w-auto">
                                    <img src="~/img/logo.png" alt="" />
                                    <span class="d-none d-lg-block">AWC-CMS</span>
                                </a>
                            </div>
                            <!-- End Logo -->
                            @RenderBody()

                            <div class="credits">
                                Design &amp; Develop by <a href="http://www.createch-software.com/" target="_blank">Createch Software Pvt Ltd</a>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- jQuery JS -->
    <script src="~/js/jquery-3.7.1.min.js"></script>

    <!-- Other JS -->
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/main.js"></script>
    <script src="@Url.Content("~/js/commonUtils.js")"></script>
    <script src="@Url.Content("~/js/formUtils.js")"></script>
    <script src="@Url.Content("~/js/custom-alert.js")"></script>
    <script>
        $(document).ready(function () {
            // Event listeners for input validation
            $('.form-control[required], input[type="checkbox"][required], select[required], input[type="radio"][required]').on('input change', function () {
                validateInputElement(this);
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
