@page "/Users/Profile"
@inject SessUser sessUser
@{
    ViewBag.Title = "Users's Profile";
}

@await Component.InvokeAsync("Breadcrumb", new
{
    pageTitle = "Profile",
    breadcrumbItems = new List<Item>
    {
        new Item { Title = "Dashboard", Url = "/Dashboard", IsActive = false },
        new Item { Title = "Users", Url = "javascript:void(0)", IsActive = false },
        new Item { Title = "Profile", Url = "javascript:void(0)", IsActive = true }
    }
})

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="/img/avatar-admin.png" alt="Profile" class="rounded-circle">
                    <h2>@sessUser.Name</h2>
                    <h3>@sessUser.Rank</h3>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Edit Profile</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" tabindex="-1" role="tab">Change Password</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">

                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Name</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Rank</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Rank</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Unit</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Unit</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Course</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Course</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Wing</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Wing</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Mobile</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@sessUser.Email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Date of Birth</div>
                                @* <div class="col-lg-9 col-md-8">@Convert.ToDateTime(sessUser.Dob).ToString("MMMM dd, yyyy")</div> *@
                            </div>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                            <!-- Profile Edit Form -->
                            <form>
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                        <img src="assets/img/profile-img.jpg" alt="Profile">
                                        <div class="pt-2">
                                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </div>
                                </div>

                               

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                        <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                          
                            
                            <form id="passwordChangeForm">

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword" required minlength="8" maxlength="16"
                                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$"
                                               title="Password must be 8-16 characters long, contain at least one uppercase letter, one lowercase letter, and one number.">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword" required minlength="8" maxlength="16"
                                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$"
                                               title="Password must be 8-16 characters long, contain at least one uppercase letter, one lowercase letter, and one number.">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword" required minlength="8" maxlength="16"
                                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,16}$"
                                               title="Password must be 8-16 characters long, contain at least one uppercase letter, one lowercase letter, and one number.">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit"  class="btn btn-primary">Change Password</button>
                                </div>
                            </form>

                            
                            <!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("~/Pages/Users/Profile.cshtml.js")"></script>
}

